/* Reset CSS de base pour harmoniser les navigateurs */
html {//Force affichage barre défil
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.6;
  color: #1A1A1A;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}