.projet-detail {
  flex-grow: 1;
  padding: 4rem 2rem;
  background-color: #FFFFFF;

  &_container {
    max-width: 800px;
    margin: 0 auto;

    h2 {
      color: #2C3E50;
      font-size: 2rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid #C0392B;
      padding-bottom: 0.5rem;
    }
  }

  &_description {
    color: #4A4A4A;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  &_tech {
    margin-bottom: 2rem;

    h3 {
      color: #2C3E50;
      margin-bottom: 0.5rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap; //Passe à la ligne sur petit écran
      gap: 1rem;
    }

    li {//Style pastilles technologies
      background-color: #F8F9FA;
      color: #2C3E50;
      padding: 0.4rem 0.8rem;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  &_links {//Espace entre lien GitHub et lien retour
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    a {//Style pour liens
      color: #C0392B;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.projet-detail_fiche {//Style fiche projet détaillée
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 2rem 0;

  h3 {//Style du titre
    color: #2C3E50;
    margin-bottom: 1rem;
    border-bottom: 2px solid #E74C3C;
    padding-bottom: 0.5rem;
  }

  p {  //Style paragraphes
    color: #4A4A4A;
    line-height: 1.7;
    margin-bottom: 0.8rem;
  }
}